html
    head
        style
            include adminspage.css
    body
        h1(id="top") Welcome to Registration Portal
        div(id="line")
            p Hello, #{name}
        div(id="login")
            a(class="head" href="/adminteacher") Add/Remove Teacher
            p(style="height:4vw;")
            a(class="head" href="/adminstudent") Add/Remove Student
            p(style="height:4vw;")
            a(class="head" href="/admincourse") Add/Remove Course