html
    head
        style
            include style.css
    body
        h1(id="top") Welcome to Registration Portal
        div(id="login")
            a(class="head" href="/teacher") Login for Teachers
            p(style="height:4vw;")
            a(class="head" href="/student") Login for Students
            p(style="height:4vw;")
            a(class="head" href="/admin") Login for Admin